:root {
    --text: #EBECD0;
    --text-bright: #FFF;
    --text-toned: #BBB;
  
    --theme-hue: 240deg;
    --theme-sat: 70%;
    --theme-lum: 60%;

    --background: hsl(var(--theme-hue), var(--theme-sat), var(--theme-lum));
    --background-dark: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) - 8.5%));
    --background-light: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) + 8.5%));
    --background-very-light: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) + 18.5%));
}  

body {
    background: linear-gradient(var(--background-dark) 2em, white 50em);
    overflow: hidden;
}

.grid {
    margin-top: 1em;
    margin-bottom: 100vh;
}

.row {
    display: flex;
    justify-content: center;
}

.timer {
    position: relative;
    top: -1.5em;
    left: 62%;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    transition: all 0.1s ease;
}

.menuicon {
    display: flex;
    justify-content: center;
    position: relative;
    right: 16%;
    font-size: large;
    top: 1%;
    height: 2em;
    width: 5%;
    padding: 0.1em;
    border-radius: 0.4em;
    margin: auto;
    border: solid black 0.15em;
    background-color: var(--background-light);
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    transition: all 0.1s ease;
}

.menuicon:hover {
    background-color: aliceblue;
}

.menu {
    display: grid;
    justify-content: center;
    position: fixed;
    top: 1vh;
    right: 30%;
    width: 40%;
    height: 71vh;
    border-radius: 1em;
    border: solid black 0.3em;
    background-color: var(--background-dark);
    margin: auto;
    z-index: 1; 
    transition: all 0.1s ease;
}

.guide-details-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
  
.guide-details-wrapper.visible {
    position: relative;
    z-index: 1001;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.guide-details-wrapper {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.menu-details-wrapper.hidden {
    position: relative;
    z-index: 10000;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.menu-details-wrapper.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.menu-details-wrapper {
    position: relative;
    z-index: 1000;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
  
.menu h1 {
    display: flex;
    justify-content: center;
    font-size: 400%;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    user-select: none;
}

.menu h2 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin: auto;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    user-select: none;
}

.menu img {
    margin: 0 auto  0 auto;
    width: 40%;
}

.menu button {
    user-select: none;
    margin-bottom: 3em;
    font-size: 200%;
    background-color: var(--background-light);
    border-radius: 1em;
    border: solid 0.1em black   ;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;
}

.exit-modes {
    font-size: 350%;
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin: auto;
    border-radius: 0.15em;
    border: solid black;
    background-color: var(--background-light);
    color:black;
    cursor: pointer;
    height: fit-content;
    text-align: center;
    user-select: none;
}


.exit-modes:hover {
    background-color: var(--background);
}

.modes-details-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
.modes-details-wrapper.visible {
    position: relative;
    z-index: 1000;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.modes-details-wrapper {
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
 

button:hover {
    background-color: var(--background);
}

.cell {
    width: 8%;
    font-size: 700%;
    text-align: center;
    padding: 0.1em;
    border-radius: 0.01em;
    border: solid black 0.03em;
    background-color: var(--background);
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.cell:hover {
    background-color: var(--background-very-light);
}

.emptyCell {
    width: 8%;
    border-radius: 0.01em;
    border: solid black 0.03em;
    font-size: 700%;
    text-align: center;
    padding: 0.1em;
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 400%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.grid-finished {
    position: relative;
    top: 0.6em;
    right: 0.2em;
    width: 40%;
    height: 70vh;
    border-radius: 1em;
    border: solid black 0.3em;
    background-color: rgb(18, 201, 82);
    margin: auto auto 30vh auto;
}

.grid-finished h2 {
    text-align: center;
    font-size: 300%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    color: var(--text-bright);
}

.grid-finished p {
    text-align: center;
    font-size: 150%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3.5em;
}

.leaderboard {
    position: absolute;
    bottom: 4.2em;
    margin-left: 5%;
    padding-left: 2em;
    padding-right: 2em;
    height: 67.2vh;
    border-radius: 0.5em;
    border: solid black 0.15em;
    background: var(--background-very-light);
}

.leaderboard h2 {
    text-align: center;
    font-size: 200%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-bright);
}

.leaderboard .buttons {
    display: flex;
    justify-content: center;
}

.leaderboard button {
    user-select: none;
    background-color: var(--background-light);
    width: 7em;
    padding: 0.5em;
    border-radius: 0.2em;
    border: solid 0.1em black   ;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;
}

.leaderboard button:hover {
    background-color: var(--background-very-light);
}

.leaderboard-table-container {
    height: 46vh;
    overflow-y: scroll;
    background-color: var(--background-light);
    border-radius: 0.2em;
    border: solid black 0.15em;
}

.leaderboard table {
    padding: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    table-layout: fixed;
    width: 17em;
    font-size: large;
}

.leaderboard th {
    text-align: left;
}

.leaderboard td {
    max-width: 4em;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.submit-form {
    justify-content: center;
    margin-left: 6em;
    font-size: large;
    margin-right: 4em;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
    border-radius: 0.5em;
    border: solid black 0.01em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(33, 231, 76)
}

.submit-form input {
    font-size: large;
    border-radius: 0.2em;
    margin-right: 0.1em;

}

.submit-form button {
    user-select: none;
    background-color: var(--background-light);
    width: 5em;
    padding: 0.5em;
    height: 2.2em;
    border-radius: 0.2em;
    border: solid 0.1em black;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;   
}

.submit-form button:hover {
    background-color: var(--background-very-light);
}